body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

header .container.main-container {
  padding-top: 100px;
}

section {
  padding-top: 50px;
}

div.result-container {
  margin: 0 auto;
  display: table;
}

div.result-container a {
  display: block;
}
div.result-container img {
  display: block;
}

div.progress-button-container {
  margin-bottom: 50px;
}

button.progress-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2em;
  background: none;
  border: 1px solid black;
  outline: none;
  cursor: default;
  display: table;
  margin: 0 auto;
  text-align: center;
}

button.progress-button.active {
  box-shadow: 0px 0px 40px 0px #18bc9c;
}

ul.my-nav {
  margin-top: 20px;
}

div.panel-body.about-text p {
  font-size: .9em;
}

div.panel-body.about-text *:not(h4) {
  margin-left: 20px;
}

div.slick-track, div.slick-container, div.slick-slide {
  outline: none;
  border: none;
}

a.inline-a {
  margin: 0 !important;
}

.isloading-wrapper.isloading-right {
  margin-left: 10px;
}
.isloading-overlay {
  position: relative;
  text-align: center;
}
.isloading-overlay .isloading-wrapper {
  background: #FFFFFF;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  top: 10%;
  z-index: 9000;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

div.submission-row button {
  display: table;
  margin: 0 auto;
}

div.emoji-container {
  display: table;
  margin: 0 auto;
}

section {
  padding-bottom: 0px;
}

input#intensity {
  display: inline-block;
  vertical-align: middle;
}

.isloading-wrapper {
  text-align: center;
}

.emojiPickerIconWrap {
  display: block;
}

a.home-link {
  color: inherit;
}

a.home-link:focus, a.home-link:hover {
  text-decoration: none;
}

.sp-replacer {
  display: block;
  background: #FFFFFF;
  padding: 6px;
}

div.sp-preview {
  width: 50%;
}
