extends layout

block content
  div.container.main-container
    div.row
      div.col-lg-12
        h2.panel-heading About this site
        div.panel.panel-default
          div.panel-body
            h4 I. What are "dead leaves"?
            p I don't know
            br
            h4 II. Who are you?
            p I ask myself this question a lot. Still not sure.
            br
            h4 III. Why are there ads on this site?
            p Im a poor college debtor.
