extends layout

block content
  div.container.main-container
    div.row
      div.col-lg-12
        h2.panel-heading About this site
        div.panel.panel-default
          div.panel-body.about-text
            h4 I. What are "dead leaves"?
            p I don't know
            br
            h4 II. Who are you?
            h6 Derek
            p Derek is a software developer who works at a bio-informatics firm in Boston, MA.
            p He received his BA in Maths at the University of Chicago, where he met co-creator Charles Frye.
            br
            h6 Charles
            p Charles is a homie.
            br
            h4 III. Why are there ads on this site?
            p Im a poor college debtor.
