extends layout

block content
  div.container.main-container
    div.row
      div.col-lg-12
        h2.panel-heading About this site
        div.panel.panel-default
          div.panel-body.about-text
            h4 I. What are Emoji Piles?
            p Emoji Piles are a fun mix of statistics and emoticons!
            p.
              Piles of 2-D shapes are used in #[a(class='inline-a', href='http://dl.acm.org/citation.cfm?id=608265') sophisticated models for the statistical properties of images of the 3-D world].
              A pile of shapes is made by randomly placing shapes, one at time, onto a 2-D canvas.
              Shapes that show up later go on top of the earlier shapes.
              This allows pile models to capture the fact that objects in the real world occlude, or block from view, other objects.
              Pile models were inspired by the way that leaves die and fall on the ground in autumn!
            p.
              Usually, pile models are made using basic geometric shapes, like circles or squares.
              We thought it'd be fun to make a pile model image generator that used emojis instead!
            br
            h4 II. Who are you?
            h6 Derek
            p Derek is a software developer who works at a bio-informatics firm in Boston, MA.
            p He received his BA in Maths at the University of Chicago, where he met co-creator Charles Frye.
            h6 Charles
            p. 
              Charles is a graduate student in the #[a(class='inline-a', href='http://redwood.berkeley.edu/wiki/Main_Page') Redwood Center for Theoretical Neuroscience]
              at the University of California, Berkeley.
            p.
              He writes a #[a(class='inline-a', href='http://charlesfrye.github.io/FoundationalNeuroscience/') blog] on neuroscience, probability, and cognitive science.
            p.
              He is supported by the Eric H. and Rachel K. Stern Health Sciences Graduate Student Award
              and the National Science Foundation Graduate Research Fellowship.
            br
            h4 III. Why are there ads on this site?
            p Im a poor college debtor.
