extends layout

block content
  h1= title
  div.container-fluid
    div.row
      div.col-md-8.col-md-offset-2
        div.panel.panel-default
          div.panel-body
            include ./form.jade
