extends layout

block content
  header
    div.container.main-container
      div.row
        div.col-lg-12
          img.img-responsive(src="/images/1f47b.png")
          div.intro-text
            span.name= title
            hr.start-light
            span.skills Create images using dead leaves image processing and your favorite emojis.
  include ./form.jade
