doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/jquery-emoji-picker/css/jquery.emojipicker.css')
    link(rel='stylesheet', href='/bower_components/jquery-emoji-picker/css/jquery.emojipicker.a.css')
    link(rel='stylesheet', href='/stylesheets/freelancer.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css')
    link(ref='stylesheet', href='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      div.container
        div.navbar-header.page-scroll
          h3.navbar-brand= title
        ul.nav.navbar-nav.navbar-right.my-nav
          li
            a(href='/') Home
          li
            a(href='/about') About

    block content

    footer.text-center
      div.footer-above
        div.container
          div.row
            div.footer-col.col-md-6
              h3 Source
              ul.list-inline
                li
                  a.btn-social.btn-outline(href="https://github.com/dcjohnston/deadleaves")
                    i.fa.fa-fw.fa-github
            div.footer-col.col-md-6
              h3 Creators
              ul.list-inline
                li
                  span Derek
                li
                  a.btn-social.btn-outline(href="https://github.com/dcjohnston")
                    i.fa.fa-fw.fa-github
                li
                  span Charles
                li
                  a.btn-social.btn-outline(href="https://github.com/charlesfrye")
                    i.fa.fa-fw.fa-github
      div.footer-below
        div.container
          div.row
            div.col-lg-12
              Copyright &copy; #{title} 2016
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/jquery-emoji-picker/js/jquery.emojipicker.js')
    script(type='text/javascript', src='/bower_components/jquery-emoji-picker/js/jquery.emojis.js')
    script(type='text/javascript', src='/bower_components/is-loading/jquery.isloading.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js')
    script(type='text/javascript', src='/javascripts/index.js')
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59611241-2', 'auto');
      ga('send', 'pageview');
